.alternatives-list-el{
	border-right: 1px solid #222;
	padding: 0px 10px 0px 10px;
}
.alternatives-list{
	text-align: center;
}
.alternative{
	display: inline-block;
	margin-right: 10px;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.alternatives-list-el:last-child {
	border: none;
}
.alternative-num{
	display: inline-block;
	margin-right: 10px;
	width: 200px;
	margin-bottom: 10px;
}
.alt-title, .compare-title, .result-title, .alternatives-input-title{
	text-align: center;
	font-size: 20px;
}
.alt-title{
	margin-bottom: 10px;
}
.alternatives-input-title{
	margin-bottom: 10px;
}
.compare, .result{
	border-radius: 5px;
	box-shadow: 0px 0px 3px #222;
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
.comparebox{
	text-align: center;
}
.slider{
	width: 400px;
	margin: auto;
	margin-bottom: 10px;
}
.alternatives-input{
	top: 100px;
	position: fixed;
	width: 600px;
	right: 0;
	left: 0;
	text-align: center;
	margin-right: auto;
    margin-left: auto;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #424242;
	padding: 10px;
	padding-bottom: 30px;
}
.alt-input-list{
	text-decoration: none;
	list-style: none;
	padding: none;
}
.alt-input-list-el{
	margin: auto;
	margin-top: 10px;
}
.ready{
	width: 400px;
	margin: 20px;
}
.answerbtn{
	margin: 0 auto;
}
#new-alternative{
	width: 480px;
	display: inline-block;
}
#add-alternative{
	display: inline-block;
	width: 90px;
	position: relative;
	top: -2px;
}
#app{
	padding: 20px;
}
body{
	text-align: center;
}